.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.div-login {
  width: 40vw;
  height: 500px;
}

.div-list {
  width: 50vw;
  border: 1px solid rgb(129, 129, 129);
  border-radius: 5px;
  padding: 5px 5px;
}
.div-stuff {
  width: auto;
  height: auto;
}

.div-user-task {
  width: 49%;
}

.div-two-boxes {
  height: auto;
}

.border {
  border: 3px solid black;
  border-radius: 5px;
}

.icon-nav {
  font-size: 22px;
}

.nav-text {
  color: white;
}

body {
  background-image: url('./assets/images/crevasse-wallpaper-1366x768.jpg');
}

.todolist-bg {
  background-color: white;
  opacity: 0.8;
}

.button-add-ut {
  width: 100%;
}

.button-home {
  width: 20vw;
}

p {
  margin: 0;
  padding: 0;
}

.ml-20 {
  margin-left: 20px;
}